<nav class="navbar navbar-expand-lg fs-5">
	<div class="container-fluid">
		<a href="/">
			<img src="{{ asset('build/images/dana/logo_dark.png') }}" alt="" class="nav-img">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<div class="d-flex justify-content-end w-100">
				<a class="nav-link mx-4" href="{{ path('app_event_new') }}">
					Ajouter un évènement
				</a>
				<a class="nav-link mx-4" href="#">
					Profil
				</a>
			</div>
		</div>
	</div>
</nav>
