{% extends 'base.html.twig' %}

{% block title %}Professionnel - Dana{% endblock %}

{% block body %}
{% include "_parts/navbar.html.twig" %}
<div class="container">
    <h1 class="text-center">Page des pros</h1>
</div>
{% endblock %}
